<!DOCTYPE html>
<html> 
	<head>
		<title> hi </title> 
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type = "text/javascript" src="js/Point.js"> </script> 
		<script type = "text/javascript" src="js/Globals.js"> </script> 
		<script type = "text/javascript" src="js/SelWindow.js"> </script>
		<script type = "text/javascript" src="js/SpriteSheet.js"> </script> 
		<script type = "text/javascript" src="js/Tilebox.js"> </script> 
		<script type = "text/javascript" src="js/Toolbox.js"> </script> 
		<script type = "text/javascript" src="js/Grid.js"> </script>
		<script type = "text/javascript" src="js/a.js"> </script> 
	</head> 

	<body>
		<canvas id="main" width=600 height=600> </canvas> <br />
		<button id="switch" type="button"> Overworld </button> 
		<input type="file" id="getfile" size="20" />
		Size: <input type="text" oninput="textChangeListener()" id="size" text="10"/> 
		<br />
		<p> Using <a href="http://www.famfamfam.com/lab/icons/silk">silk icons</a>. Written in <a href = "http://www.coffeescript.org">coffeescript</a>. </p> 
	</body> 
</html> 
